{% extends 'index.html' %}

{% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info mt-3" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<div class="row">
    <div style="color: white"; class="col-lg-12 text-center">
        <h1 class="mt-5"> Witaj w mojej bibliotece filmów</h1>
        <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
      <br/>
      <br/>
 
 </div>    
 <div align="center" class="col-lg-12 mb-4">
    {% for movie_type, description in movie_types.items() %}
    <a href="{{ url_for('homepage', list_type=movie_type) }}"
        class="btn btn-outline-info {{ 'active' if movie_type == current_list else '' }}"
        role="button"
        aria-pressed="false">
        {{ description }}
    </a>
    {% endfor %}
</div>
    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="{{ tmdb_image_url(movie.poster_path, 'w780') }}">
            <div class="card-body">
                <h4 class="card-title">{{ movie.title }}</h4>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-primary">Pokaż więcej</a>             
                <br><br>
                <form action="{{ url_for('add_to_favorites') }}" method="POST" class="d-inline-flex">
                    <input type="hidden" name="movie_title" value="{{ movie.title }}">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                        <button  type="submit" class="btn btn-outline-warning btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            Ulubione
                        </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}

